@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body {
font-family: "Mulish", sans-serif;
}

}

/*-------------------- Header --------------------*/

nav {
    background-color: #47555e !important;  
}

.bg-light {
    background-color: #47555e !important;
 }

/*-------------------- Index Section --------------------*/

.large-section-image {
    height: 300px;
    width: 100%;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    text-align: center;
}

/*-------------------- Footer --------------------*/

.nav-footer {
    background-color: #47555e;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.footer-header {
    letter-spacing: 2px;
    margin-top: 5%;
}

.social-links {
    font-size: 27px;
}

.social-links-color {
    color: #fff;
}

footer div h6 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5%;
    line-height: 130%;
}