@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body {
font-family: "Mulish", sans-serif;
}

}

/*-------------------- Header --------------------*/

nav {
    background-color: #47555e;  
}

.bg-light {
    background-color: #47555e !important;
 }

body header nav div ul {
    margin: 0 0 0 2%;
    
}

 body header nav div ul li a {
     font-size: 21px;
 }

/*-------------------- Index Section --------------------*/

.large-section-image {
    width: 100%;
    height: auto;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    text-align: center;
}

/*-------------------- Trainers --------------------*/

.trainer-container {
    max-width: 50%;
}

.worker-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: solid 2px #47555e;
    margin: 10px 0 0 0;
}

.trainers {
    display: block;
    text-align: center;
} 

.trainer-heading {
    padding: 20px 0 5px 0;
}


/*-------------------- Schedule & Prizing --------------------*/

.container-text-schedule {
    text-align: center;
}

.schedule-heading {
    text-align: center;
    margin: 20px 0 20px 0; 
}

.table-header {
    background-color: #47555e;
    color: #fff;
    padding: 10px 15px 5px 15px;
}

.table-content {
    background-color: #e6e6e6;
    padding: 5px 15px 5px 15px;
}

.schedule-prizing-table-container {
    margin: 10px 0 20px 0;   
}

.prizing-header {
    text-align: center;
    padding: 10px 15px 5px 15px;
}

#prize-gold {
    background-color: #999900;
    color: #fff;
}

#prize-silver {
    background-color: #808080;
    color: #fff;
}

#prize-bronze {
    background-color: #994d00;
    color: #fff;
}



/*-------------------- Find Us --------------------*/

.google-maps-div {
display: block;
max-width: 50%;
height: auto;
}

.google-maps {
    max-width: 100%; 
    width: 500px;
    height: auto;
    display: table;
    margin: 0 auto;
    text-align: center;
}

.google-maps-heading {
    margin: 20px 0 20px 0; 
    text-align: center;
}

section div p {
    text-align: center;
}


/*-------------------- Footer --------------------*/

.nav-footer {
    background-color: #47555e;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.footer-header {
    letter-spacing: 2px;
    margin-top: 5%;
}

.social-links {
    font-size: 27px;
}

.social-links-color {
    color: #fff;
}

 .contact-links {
     color: #fff;
 }

footer div h6 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5%;
    line-height: 130%;
}